.products{
    display: flex;
    flex-wrap: wrap;      /* moves to next row if space is full */
    gap: 20px;            /* space between products */
    margin: 20px;
}

/* Each product card */
.product{
    border: 2px solid #444; 
    padding: 15px;
    width: 250px;         /* fixed width so they stay side by side */
    text-align: center;
    background-color: rgb(172, 216, 216);
    color: rgb(86, 105, 128);
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

/* Product image */
.product img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}