.App-Header{
  display : flex;
  justify-content: space-between;
  background-color: rgb(172, 216, 216);
  color : rgb(86, 105, 128);
  text-align: center;
  padding-left: 20px;
  align-items: center;
  margin : 0px;
}
.App-Header li {
    display : inline-block;
    color: rgb(86, 105, 128);
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 2px;
}   